.nav-link-custom {
  text-decoration: none; /* Elimina el subrayado */
  color: #333; /* Cambia el color del texto */
  padding: 0.5rem 1rem; /* Espaciado alrededor del texto */
}

.nav-link-custom:hover {
  color: #007bff; /* Color al pasar el cursor por encima */
  text-decoration: none; /* Asegura que no aparezca subrayado al pasar el cursor */
  transition: color 0.3s ease; /* Añade una transición suave al color */
}
/*Footer*/

.custom-footer {
  background-color: #8e6c5e;
  border-top: 2px solid #52372d;
  font-family: "Georgia", "Serif";
}

.hotel-title-footer {
  font-size: 1.8rem;
  color: #5c392c;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.custom-footer h6 {
  font-size: 1.2rem;
  color: #5c392c;
  margin-bottom: 0.5rem;
}

.custom-footer p {
  font-size: 0.9rem;
  color: #5c392c;
}

.social-links {
  gap: 1rem;
}

.social-icon {
  color: #5c392c;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #5c392c;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .custom-footer .row {
    text-align: center;
  }
}
